/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #A833FF;
    color: white;
}

.twitter {
    background: #E06BFA;
    color: white;
}

.google {
    background: #931AF8;
    color: white;
}

.instagram {
    background: #931AF8;
    color: white;
}

.youtube {
    background: #530681;
    color: white;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #DA54FD;
    border: 0px;
    color: white;
    cursor: pointer;
    font-family: 'Arial'; 
    font-weight: bold;
    padding: 5px;
    width: 50px;
    text-align: center;
    font-size: 15px;
    position: fixed;
    top: 65%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: white;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    overflow: hidden;
    padding: 0 18px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    position: fixed;
    top: 75%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
