<div class="icon-bar">
    <!--<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="google"><i class="fa fa-google"></i></a> -->
    <a href="https://www.youtube.com/channel/UCFtOhloeiDNyVMDLRgZpGuw?view_as=subscriber" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
    <a href="https://www.instagram.com/lifesa2020stitch/" target="_blank" class="instagram"><i class="fa fa-instagram" style="color: white"></i></a>
    <button style="margin-top: 70px; margin-left:-1px" type="button" class="collapsible">Our </br>Diary</button>
    <div class="content">
        <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FLondon&amp;src=Y2c3dWt2c2t2MTY0cjJiNm9xZmtnbG9wdG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%238E24AA&amp;showTz=0" style="border-width:0" width="400" height="300" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>